/*sets main below fixed header*/
main {
  margin: 11rem 0 10rem 0;
}

h2 {
  font-size: 6.8rem;
  margin: 1.6rem;
}

h3 {
  margin: 3rem 0 6rem 0;
  font-size: 6rem;
}

img {
  border-radius: 1.5rem;
}

#head-shot,
#treatment-room {
  width: 60%;
}

figcaption p {
  text-align: center;
  font-size: 1.2rem;
  margin: 0 auto;
}

#photographer-ig {
  height: 2.5rem;
}

figcaption a {
  text-decoration: none;
  color: var(--main-text-color);
}

figcaption a:hover {
  text-decoration: underline;
}

.bioWrap {
  margin: 4rem 0;
}

.bioP {
  width: 60%;
  margin: 2rem auto;
  font-size: 2rem;
  text-align: left;
}

@media only screen and (max-width: 768px) {
  h2 {
    font-size: 4.8rem;
  }

  #head-shot, 
  #treatment-room {
    width: 60%;
  }
}

@media only screen and (max-width: 500px) {
  h2 {
    font-size: 3.4rem;
  }

  #head-shot, 
  #treatment-room {
    width: 80%;
  }

  .bioP {
    width: 80%;
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 400px) {
  h2 {
    font-size: 2.4rem;
  }

  #head-shot, 
  #treatment-room {
    width: 90%;
  }

  .bioP {
    width: 90%;
  }
}
