/*sets main below fixed header*/
main {
  margin: 11rem 0 10rem 0;
}

h2 {
  font-size: 6.8rem;
  margin: 1.6rem;
}

h3 {
  margin: 3rem 0 6rem 0;
  font-size: 6rem;
}

img {
  border-radius: 2rem;
}

hr {
  width: 80%;
  margin: 0 auto;
}

#head-shot {
  width: 50%;
}

figcaption p {
  text-align: center;
  font-size: 1.6rem;
  margin: 0 auto;
}

#photographer-ig {
  height: 2.5rem;
}

figcaption a {
  text-decoration: none;
  color: var(--main-text-color);
}

figcaption a:hover {
  text-decoration: underline;
}

.bioWrap {
  margin: 4rem 0;
}

.bioP {
  width: 60%;
  margin: 2rem auto;
  font-size: 2rem;
  text-align: left;
}

@media only screen and (max-width: 768px) {
  h2 {
    font-size: 4.8rem; 
  }
}

@media only screen and (max-width: 500px) {
  h2 {
    font-size: 3.4rem;
  }

  #head-shot {
    width: 80%;
  }

  .bioP {
    width: 80%;
    font-size: 1.6rem;
  }

}

@media only screen and (max-width: 400px) {
  h2 {
    font-size: 2.4rem;
  }

  #head-shot {
    width: 90%;
  }
}

.picGrid {
  display: grid;
  grid-template: repeat(12, 1fr) / repeat(12, 1fr);
  width: 78%;
  height: 90rem;
  margin: 3rem auto;
}

.roomImgOdd {
  width: 30rem;
}

.roomImgEv {
  width: 16rem;
}

#pic1 {
  z-index: 1;
  grid-column: 1 / 11;
  grid-row: 1 / 5;
}

#pic2 {
  z-index: 1;
  grid-column: 11 / 13;
  grid-row: 1 / 5;
}

#pic3 {
  z-index: 3;
  grid-column: 10 / 13;
  grid-row: 8 / 12;
}

#pic4 {
  z-index: 1;
  grid-column: 1 / 6;
  grid-row: 10 / 13;
}

#pic5 {
  width: 93rem;
  grid-column: 2 / 13;
  grid-row: 2 / 11;
}
