* {
  margin: 0;
}

html {
  font-size: 10px;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  --main-color: #ffffff;
  --main-text-color: #000000;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

/*head and nav styles*/
header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--main-color);
  justify-content: space-between;
  font-family: "Quicksand", sans-serif;
}

h1 {
  font-size: 4.6rem;
  margin: 1.5rem;
}

@media only screen and (max-width: 500px) {
  h1 {
    font-size: 2.4rem;
    margin: 1rem;
  }
}

header a {
  text-decoration: none;
  color: var(--main-text-color);
}

header a:hover {
  text-decoration: underline;
}

nav {
  height: 10rem;
}

li.navLinks {
  list-style: none;
  display: inline-block;
  font-size: 2rem;
  margin: 2.75rem;
}

/*sets main below fixed header*/
main {
  margin-top: 15rem;
}

/*size and position of logo img*/
#home-page-logo {
  display: block;
  height: 50rem;
  margin: 0 auto;
}

@media only screen and (max-width: 500px) {
  #home-page-logo {
    width: 90%;
    height: auto;
  }
}

#home-page-text {
  width: 55%;
  margin: 5rem auto;
  font-size: 2.1rem;
  text-align: left;
}

@media only screen and (max-width: 500px) {
  #home-page-text {
    width: 90%;
    font-size: 1.6rem;
  }
}

/*booking link styles*/
.booking {
  height: 20rem;
}

a.bookingButton {
  display: block;
  text-decoration: none;
  font-size: 2.4rem;
  font-family: "Quicksand", sans-serif;
  color: var(--main-text-color);
  border: 1px solid var(--main-text-color);
  border-radius: 10px;
  width: 15rem;
  padding: 2.5rem;
  margin: 1rem auto;
}

/*style for temporary email link until form can be made functional*/
#temp-email-link {
  text-decoration: none;
  color: var(--main-text-color);
}

#temp-email-link:hover {
  text-decoration: underline;
}

/*styles for contact form*/
.contactForm {
  display: block;
  width: 45rem;
  height: auto;
  margin: 7rem auto;
  text-align: left;
}

@media only screen and (max-width: 500px) {
  .contactForm {
    width: 100%;
  }
}

h2 {
  font-size: 4.8rem;
  text-align: center;
  margin: 2rem 0;
  font-family: "Charm", cursive;
}

@media only screen and (max-width: 500px) {
  h2 {
    font-size: 2.8rem;
  }
}

.formComponent {
  display: block;
  width: 98%;
  font-size: 1.8rem;
}

.formInput {
  height: 3rem;
  margin-bottom: 2rem;
}

#message {
  height: 15rem;
}

.submitButton {
  width: 40%;
  height: 5rem;
  margin: 2rem auto;
}

/*footer styles*/
footer {
  height: 15rem;
}

@media only screen and (max-width: 500px) {
  footer {
    height: auto;
  }
}

.footerWrapper {
  justify-content: space-around;
  align-items: center;
}

@media only screen and (max-width: 500px) {
  .footerWrapper {
    flex-wrap: wrap;
  }
}

.tradeMarkP {
  font-size: 2.8rem;
}

.tradeMarkIcon {
  font-size: 2rem;
}

p.socialLinks, .phoneNum {
  margin: 0px;
  display: inline-block;
  font-size: 1.8rem;
  width: 15rem;
}

@media only screen and (max-width: 500px) {
  p.socialLinks {
    width: 30%;
  }

  .phoneNum {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .phoneNum {
    width: 100%;
  }
}

.phoneNum a {
  color: var(--main-text-color);
}

.socialLinks img {
  margin: 0;
  width: 7.5rem;
}

.designedBy {
  font-size: 1.8rem;
  text-align: right;
  line-height: 6rem;
  padding-right: 5rem;
}

.designedBy a {
  text-decoration: none;
  color: var(--main-text-color);
}

.designedBy a:hover {
  text-decoration: underline;
}
