/*size and position of logo img*/
#home-page-logo {
  display: block;
  height: 50rem;
  margin: 0 auto;
}

@media only screen and (max-width: 500px) {
  #home-page-logo {
    width: 90%;
    height: auto;
  }
}

#home-page-text {
  width: 55%;
  margin: 5rem auto;
  font-size: 2.1rem;
  text-align: left;
}

@media only screen and (max-width: 500px) {
  #home-page-text {
    width: 90%;
    font-size: 1.6rem;
  }
}

/*booking link styles*/
.booking {
  height: 20rem;
}

a.bookingButton {
  display: block;
  text-decoration: none;
  font-size: 2.4rem;
  font-family: "Quicksand", sans-serif;
  color: var(--main-text-color);
  border: 1px solid var(--main-text-color);
  border-radius: 10px;
  width: 15rem;
  padding: 2.5rem;
  margin: 1rem auto;
}

/*style for temporary email link until form can be made functional*/
#temp-email-link {
  text-decoration: none;
  color: var(--main-text-color);
}

#temp-email-link:hover {
  text-decoration: underline;
}

/*styles for contact form*/
.contactForm {
  display: block;
  width: 45rem;
  height: auto;
  margin: 7rem auto;
  text-align: left;
}

@media only screen and (max-width: 500px) {
  .contactForm {
    width: 100%;
  }
}

h2 {
  font-size: 4.8rem;
  text-align: center;
  margin: 2rem 0;
  font-family: "Charm", cursive;
}

@media only screen and (max-width: 500px) {
  h2 {
    font-size: 2.8rem;
  }
}

.formComponent {
  display: block;
  width: 98%;
  font-size: 1.8rem;
}

.formInput {
  height: 3rem;
  margin-bottom: 2rem;
}

#message {
  height: 15rem;
}

.submitButton {
  width: 40%;
  height: 5rem;
  margin: 2rem auto;
}