/*sets main below fixed header*/
main {
  margin-top: 10rem;
}

/*specific element styling in main*/
h2 {
  padding: 2rem 0;
  font-family: "Quicksand", sans-serif;
  font-size: 4.2rem;
}

.locationWrapper {
  justify-content: space-evenly;
  margin: 5rem 0;
}

.nonHomeLogo {
  margin: 5rem 0 0 0;
  height: 45rem;
}

.logoWrap {
  width: 50%;
}

#pathways-logo {
  width: 75%;
  margin-top: 8rem;
}

.mapWrap {
  margin-bottom: 5rem;
}

@media only screen and (max-width: 768px) {
  h2 {
    font-size: 2.8rem;
  }

  .locationWrapper {
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 5rem 0;
  }

  .logoWrap {
    width: 100%;
  }

  .nonHomeLogo {
    margin: 0;
    height: 35rem;
  }

  #pathways-logo {
    width: 50%;
  }
}

@media only screen and (max-width: 500px) {
  h2 {
    font-size: 1.8rem;
  }
}