/*sets main below fixed header*/
main {
  margin-top: 10rem;
}

/*general element styling in main*/
h2 {
  padding: 2rem 0;
  font-family: "Quicksand", sans-serif;
  font-size: 8.2rem;
}

h3 {
  font-size: 4.8rem;
  text-align: center;
  margin: 2rem 0;
  font-family: "Charm", cursive;
}

h4 {
  font-size: 3rem;
}

ul {
  list-style: none;
}

hr {
  width: 50%;
  margin: 0 auto;
  border: 1px solid var(--main-text-color);
}

@media only screen and (max-width: 500px) {
  article {
    width: 100%;
  }
}

/*specific element styling in main*/
.logoWrap {
  justify-content: space-evenly;
  margin-top: 2.5rem;
  padding-bottom: 5rem;
}

.nonHomeLogo {
  margin: 2.5rem 1rem 0 1rem;
  height: 45rem;
}

.headerImg {
  height: 9rem;
}

.policyWrap {
  width: 70%;
}

.policyHeader {
  padding: 0px;
}

#policies-header-img {
  height: 5rem;
}

.policyDesc {
  width: 75%;
  margin: 1rem auto;
  font-size: 1.6rem;
  text-align: center;
}

#services {
  flex-direction: row;
  justify-content: space-evenly;
  margin: 3rem auto;
}

.times {
  font-size: 1.8rem;
  margin: 1.5rem;
}

.priceSec {
  width: 30%;
  align-items: center;
}

.serviceSection {
  width: 80%;
  margin: 3rem auto;
}

.serviceDesc {
  width: 75%;
  margin: 1rem auto;
  font-size: 1.8rem;
  text-align: center;
}

.prices {
  font-size: 2rem;
}

.serviceBreak {
  width: 50%;
}

.seriesPackages {
  margin: 3rem auto;
}

.savings {
  font-size: 2rem;
  font-family: "Charm", cursive;
  margin-top: -2rem;
}

@media only screen and (max-width: 768px) {
  h2 {
    font-size: 6.4rem;
  }

  h3 {
    font-size: 3.6rem;
  }

  h4 {
    font-size: 2.4rem;
  }

  .nonHomeLogo {
    height: 35rem;
  }

  .logoWrap {
    flex-wrap: wrap;
  }

  .policyWrap {
    margin-top: 3.5rem;
    width: 100%;
  }

  #services {
    flex-direction: column;
  }

  .priceSec {
    width: 100%;
  }

  .serviceDesc {
    width: 80%;
  }
}

@media only screen and (max-width: 500px) {
  .nonHomeLogo {
    height: 30rem;
  }
}
